<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.edulinksys.intouch"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Intouch</name>

    <description>
        Intouch Notification system
    </description>

    <author href="http://www.edulinksys.com" email="davef@edulinksys.com">
        David Funderburk
    </author>

</widget>
